nav {
  display: flex;
  gap: 20px;
}

nav .logo {
  height: 64px;
  width: 64px;
  background: #18181b;
  border: 1px solid #27272a;
  display: flex;
  align-items: center;
  border-radius: 48px;
  justify-content: center;
}

nav .logo i {
  font-size: 26px;
  color: #4caf50;
}

nav .links {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 66px;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 48px;
}

nav .links a {
  font-size: 20px;
}

nav .links a.active {
  font-weight: bold;
  color: #38608e;
}
